.text {
  color: var(--primary-text-color);
  font-size: 1rem;
}

.text p {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label-input-icon-error {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas: "input icon" "error error";
  gap: 0.5rem;
}

.label-input-icon-error input {
  grid-area: input;
}

.label-input-icon-error input + * {
  grid-area: icon;

  height: 100%;
  aspect-ratio: 1/1;
  color: var(--primary-text-color);
  border-radius: 1rem;
  background-color: var(--input-bg);
  padding: 0.625rem;
  font-size: 1.875rem;
  line-height: 0;
}

.label-input-icon-error input + * + * {
  grid-area: error;
  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: var(--input-bg);
}
